.inputContainer {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }

  .inputUI {
    color: var(--black);
    display: block;
    width: 100%;
    margin-top: 0.1rem;
    padding: 1rem;
    background-color: var(--input-bg);
    color: var(--white);
  }
  
  .inputUI.item {
    width: 100%;
  }
  